body {
    background-color: #071E3D;
 }

 hr {
    background-color: #071E3D;
    border-style: dotted none none;
    border-width: 5px;
    border-color: black;
    width: 15%;
 }
 h1 {
   color: #1F4287;
 }
 h3 {
   color:#278EA5;
 }
 th {
   color: #3E432E;
 }

 #skills{
  border-color: #278EA5;
 }
